<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.justorder"
    tools:replace="label"

    android:label="@string/app_labl"


    >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hung"



        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".Khoka"></activity>
        <activity android:name=".aboutUs" />
        <activity android:name=".MessMenu" />
        <activity android:name=".MyOrder" />
        <activity android:name=".Feedback" />
        <activity android:name=".details" />
        <activity
            android:name=".MainFeed"
            android:label="MainFeeed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.justorder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".Orders" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>